.dimmed {
    color: #999; 
}
.inline-element {
    display: inline-block;
    margin-right: 10px; 
  }
  /* .popup {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */

  .popup-container {
    position: fixed; /* Keeps the popup in place on the viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.5); /* Optional overlay effect */
    z-index: 1000; /* Ensure it appears above other content */
}

/* Style the popup box */
.popup {
    position: relative;
    background: white; /* Background color of the popup */
    border: 1px solid #ccc; /* Border style */
    padding: 2rem; /* Padding inside the popup */
    max-width: 90vw; /* Max width relative to viewport */
    max-height: 90vh; /* Max height relative to viewport */
    overflow: auto; /* Enable scroll if content overflows */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #cd1010; /* Color of the close button */
}
.save-params-button{
    background-color:#007bff ;
     color: white;
     border: none;
}
  
  h3 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-actions {
    text-align: right;
    margin-top: 20px;
  }
  
  .form-button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }