<p-toast></p-toast>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row m-2">
        <div class="field col-12 md:col-3">
            <label for="id">Service Number(ID):</label>
            <input id="serviceNumberCode" name="serviceNumberCode" type="number"
                [(ngModel)]="selectedRecord.serviceNumberCode"
                [ngModel]="isSaving ?  savedRecord.serviceNumberCode :  selectedRecord.serviceNumberCode"
                (ngModelChange)="isSaving ? savedRecord.serviceNumberCode = $event : null" ngModel
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                [disabled]="true">
        </div>
        <div class="field col-12 md:col-3">
            <label for="code">SearchTerm:<span style="color: red;">*</span></label>
            <input id="searchTerm" name="searchTerm" required type="text" [(ngModel)]="selectedRecord.searchTerm"
                ngModel
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

        </div>
        <div class="field col-12 md:col-3">
            <label for="description">Description:<span style="color: red;">*</span></label>
            <input id="description" name="description" required type="text" [(ngModel)]="selectedRecord.description"
                ngModel
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="serviceText">Service Text:</label>
            <input id="serviceText" name="serviceText" type="text" [(ngModel)]="selectedRecord.serviceText" ngModel
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>
    <div class="row m-2">
        <div class="field col-12 md:col-6">
            <label for="shortTextChangeAllowed" class="mr-1">Short Text Change Allowed:</label>
            <input id="shortTextChangeAllowed" name="shortTextChangeAllowed" type="checkbox"
                [(ngModel)]="selectedRecord.shortTextChangeAllowed" ngModel>
        </div>
        <div class="field col-12 md:col-6">
            <label for="deletionIndicator" class="mr-1">Deletion Indicator:</label>
            <input id="deletionIndicator" name="deletionIndicator" type="checkbox"
                [(ngModel)]="selectedRecord.deletionIndicator" ngModel>
        </div>
    </div>

    <div class="row m-2">
        <div class="field col-12 md:col-6">
            <ng-container *ngIf="editMode">
                <span class="p-float-label">
                    <p-dropdown [options]="recordsServiceType" [required]=true
                        [(ngModel)]="selectedRecord.serviceTypeCode" [ngModelOptions]="{standalone: true}"
                        optionValue="serviceId" optionLabel="serviceId" [filter]="true"
                        [filterFields]="['serviceId','description']" [showClear]="true"
                        placeholder={{selectedRecord.serviceTypeCode}} [virtualScroll]="true"
                        [virtualScrollItemSize]="40">
                        <ng-template let-record pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ record.serviceId }}::{{ record.description }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="float-label">Select ServiceType</label>
                </span>
                <span style="color: red;margin: 5px;">*</span>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <!-- <span class="p-float-label"> -->
                <p-dropdown [options]="recordsServiceType" [required]=true [(ngModel)]="selectedRecord.serviceTypeCode"
                    [ngModelOptions]="{standalone: true}" optionValue="serviceId" optionLabel="serviceId"
                    [filter]="true" [filterFields]="['serviceId','description']" [showClear]="true"
                    placeholder="Select a ServiceType" [virtualScroll]="true" [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.serviceId }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <!-- <label for="float-label">Select ServiceType</label>
            </span> -->
                <span style="color: red;margin: 5px;">*</span>
            </ng-container>
        </div>
        <div class="field col-12 md:col-6">
            <!-- <span class="p-float-label"> -->
            <!-- <cdk-virtual-scroll-viewport itemSize="40" class="dropdown-viewport" (scrolledIndexChange)="updateVisibleRecords($event)"> -->
            <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.baseUnitOfMeasurement"
                [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                optionLabel="UnitOfMeasureLongName" [filter]="true"
                [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                placeholder="Select Base UnitOfMeasure" [virtualScroll]="true" [virtualScrollItemSize]="40">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <!-- <label for="float-label">Select UnitOfMeasurement</label>
            </span> -->

            <!-- </cdk-virtual-scroll-viewport> -->
            <span style="color: red;margin: 5px;">*</span>
        </div>
    </div>

    <h3>Control Data:</h3>
    <hr>
    <label for="conversion">Conversion:</label>
    <div class="form-control m-2">
        <label for="conversion">ToBe Converted Number:</label>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <input id="numberToBeConverted" pInputNumber [min]="0" name="numberToBeConverted" type="number"
                    [(ngModel)]="selectedRecord.numberToBeConverted" ngModel
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
            <div class="field col-12 md:col-6">
                <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.toBeConvertedUnitOfMeasurement"
                    [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                    optionLabel="UnitOfMeasureLongName" [filter]="true"
                    [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                    placeholder="Select ToBeConverted UnitOfMeasure" [virtualScroll]="true"
                    [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <label for="conversion">Converted Number:</label>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <input id="convertedNumber" pInputNumber [min]="0" name="convertedNumber" type="number"
                    [(ngModel)]="selectedRecord.convertedNumber" ngModel
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
            <div class="field col-12 md:col-6">
                <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.defaultUnitOfMeasurement"
                    [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                    optionLabel="UnitOfMeasureLongName" [filter]="true"
                    [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                    placeholder="Select Converted UnitOfMeasure" [virtualScroll]="true" [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>
    <!-- old version -->
    <!-- <div class="row m-2">
        <label for="numberToBeConverted">Conversion:</label>
        <div class="field col-12 md:col-2">
            <input id="numberToBeConverted" pInputNumber [min]="0" name="numberToBeConverted" type="number"
                [(ngModel)]="selectedRecord.numberToBeConverted" ngModel
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-4">
            <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.toBeConvertedUnitOfMeasurement"
                [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                optionLabel="UnitOfMeasureLongName" [filter]="true"
                [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                placeholder="Select ToBeConverted UnitOfMeasure" [virtualScroll]="true" [virtualScrollItemSize]="40">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="field col-12 md:col-2">
            <input id="convertedNumber" pInputNumber [min]="0" name="convertedNumber" type="number"
                [(ngModel)]="selectedRecord.convertedNumber" ngModel
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-4">
            <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.defaultUnitOfMeasurement"
                [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                optionLabel="UnitOfMeasureLongName" [filter]="true"
                [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                placeholder="Select Converted UnitOfMeasure" [virtualScroll]="true" [virtualScrollItemSize]="40">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div> -->

    <div class="row m-2">
        <div class="field col-12 md:col-6">
            <label for="mainItem" class="mr-1">Main Item:</label>
            <input id="mainItem" name="mainItem" type="checkbox" [(ngModel)]="selectedRecord.mainItem" ngModel>
        </div>
        <div class="field col-12 md:col-6">
            <ng-container *ngIf="editMode">
                <p-dropdown [options]="recordsMaterialGrp" [(ngModel)]="selectedRecord.materialGroupCode"
                    [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                    [filterFields]="['code','description']" [showClear]="true"
                    placeholder={{selectedRecord.materialGroupCode}} [virtualScroll]="true"
                    [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.code }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <p-dropdown [options]="recordsMaterialGrp" [(ngModel)]="selectedRecord.materialGroupCode"
                    [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                    [filterFields]="['code','description']" [showClear]="true" placeholder="Select Material/Service Grp"
                    [virtualScroll]="true" [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.code }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </ng-container>
        </div>
    </div>
    <div class=" text-center m-3">
        <button pButton [disabled]="!f.valid">{{ editMode ?
            'Update' : 'Add' }}
        </button>
    </div>
</form>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>