<!-- <p-messages position="top-left" *ngIf="successMessage" [(value)]="messages" [enableService]="false"></p-messages> -->
<p-toast></p-toast>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row formgrid grid">
        <div class="field col ">
            <label for="modelServSpec" class="col-12 mb-2 md:col-2 md:mb-0">ModelServSpec:</label>
            <div class="col-12 md:col-10 input-group">
                <input id="modelServSpec" name="modelServSpec" required type="text" class="form-control" ngModel
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="field col ">
            <label for="blockingIndicator" class="col-12 mb-2 md:col-2 md:mb-0">BlockingIndicator:</label>
            <div class="col-12 md:col-10 input-group">
                <input id="blockingIndicator" name="blockingIndicator" type="checkbox" ngModel>
            </div>
        </div>
        <div class="field col ">
            <label for="serviceSelection" class="col-12 mb-2 md:col-2 md:mb-0">ServiceSelection:</label>
            <div class="col-12 md:col-10 input-group">
                <input id="serviceSelection" name="serviceSelection" type="checkbox" ngModel>
            </div>
        </div>
    </div>
    <p-card header="General Data:" class="row mt-2">
        <div class="field grid">
            <label for="description" class="col-12 mb-2 md:col-2 md:mb-0">Description:</label>
            <div class="col-12 md:col-10 input-group">
                <input id="description" name="description" required type="text" class="form-control" ngModel
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="field grid">
            <label for="searchTerm" class="col-12 mb-2 md:col-2 md:mb-0">SearchTerm:</label>
            <div class="col-12 md:col-10 input-group">
                <input id="searchTerm" name="searchTerm" type="text" class="form-control" ngModel
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="field grid">
            <label for="currency" class="col-12 mb-2 md:col-2 md:mb-0">Currency:</label>
            <p-dropdown [options]="recordsCurrency" [(ngModel)]="selectedCurrency"  [ngModelOptions]="{standalone: true}"
            optionValue="code" optionLabel="code"
                [filter]="true" [filterFields]="['code','description']" [showClear]="true" placeholder="Select Currency">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.code }}::{{ record.description }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </p-card>
    <div class=" text-center m-3">
        <button pButton data-dismiss="modal" icon="pi pi-save" [disabled]="!f.valid">Add Model</button>
    </div>
</form>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>